@import './../../../shared/colors.scss';
@import './../../../shared/mixin.scss';
@import './media_queries.scss';


nav {
  height: 112px;
  display: flex;
  justify-content: space-around;
  > img {
    margin-top: 20px;
    height: 64px;
    width: 64px;
  }

  .navigation-header {
    width: 700px;

    > ul {
      @include center-flex;
      gap: 55px;
      list-style: none;
      > li:not(.phone_btn) {
        > a {
          color: $color_white;
          &:hover {
            text-decoration: underline;
            text-decoration-color: red;
          }
        }
      }
    }
  }

  .phone_btn {
    > a {
      align-items: center;
      background-color: var(--h2_text);
      border: 2px solid $color_white;
      border-radius: 10px;
      display: flex;
      gap: 10px;
      padding: 10px;
      color: var(--color_standard_white);
      &:hover {
        background-color: rgb(204, 74, 71);
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}


