:root {
    /* Colors general */
    --Default_text: #000000;
    --dish_price_text: #675E54;
    --h2_text: #9F0908;
    --footer: #0A141E;
    --color_standard_white: white;


    /* Fonts familys */
    --fonts-family-raleway_bold: "Raleway_Bold";
    --fonts-family-raleway_regular: "Raleway_Regular";
    --fonts-family-economica_bold: "Economica_Bold";
}
