@import "../../styles/variables";

section {
  background-image: url("/assets/img/1_hero/JPG/hero_bg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;

  h1,
  h2 {
    text-align: center;
    margin: 0;
    color: var(--color_standard_white);
  }

  h1 {
    font-size: 96px;
    margin-top: 100px;
    font-family: var(--fonts-family-raleway_bold);
  }

  h2 {
    font-size: 20px;
    font-family: var(--fonts-family-raleway_regular);
  }
}
