:root {
    /* Colors general */
    --Default_text: #000000;
    --dish_price_text: #675E54;
    --h2_text: #9F0908;
    --footer: #0A141E;
    --color_standard_white: white;


    /* Fonts familys */
    --fonts-family-raleway_bold: "Raleway_Bold";
    --fonts-family-raleway_regular: "Raleway_Regular";
    --fonts-family-economica_bold: "Economica_Bold";
}


@font-face {
    font-family: 'Raleway_Bold';
    src: url('/assets/fonts/raleway/Raleway-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway_Regular';
    src: url('/assets/fonts/raleway/Raleway-Regular.woff2') format('woff2');
    
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Economica_Bold';
    src: url('/assets/fonts/economica/Economica-Bold.woff2') format('woff2');
   
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: var(--fonts-family-raleway_regular);
    font-size: 24px;
}

html {
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
 
}